<section class="about-me-two container">
  <div class="skills-container">
    <h2 class="hidden">About my skills</h2>
    <div class="skills swiper">
      <ul class="skill-list swiper-wrapper">
        <li data-theme-swiper-active class="skill-item swiper-slide skill-item-circle">HTML/CSS</li>
        <li data-theme-swiper-active class="skill-item swiper-slide skill-item-circle">JavaScript</li>
        <li data-theme-swiper-active class="skill-item swiper-slide skill-item-circle">TypeScript</li>
        <li data-theme-swiper-active class="skill-item swiper-slide skill-item-circle">React</li>
        <li data-theme-swiper-active class="skill-item swiper-slide skill-item-circle">Node.js</li>
        <li data-theme-swiper-active class="skill-item swiper-slide skill-item-circle">React Native</li>
        <li data-theme-swiper-active class="skill-item swiper-slide skill-item-circle">Soft skills</li>
      </ul>
    </div>
    <svg class="btn-next">
      <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
    </svg>
  </div>
</section>
