<!-- <button class="btn-arrow-read-more ac-trigger">
  <svg class="svg-arrow-read-more" width="20" height="20">
    <use href="../img/header/icons.svg#icon-keyboard_arrow_down"></use>
  </svg>
</button> -->

<a data-theme-btn-up class="up-btn" href="#home">
  <svg class="up-btn-svg" width="30" height="30">
    <!-- <use href="./img/icons.svg#arrow-up"></use> -->
    <use href="./img/sprite.svg#arrow-white"></use>
  </svg>
</a>

<!-- <button id="scrollUp" class="hidden">
    <svg class="scroll-up" width="20" height="20">
      <use href="./img/icons.svg#arrow-down"></use>
    </svg>
  </button> -->