<section class="projects container" id="projects">
    <div class="projects-div">    
    <h2 class="projects-title">Projects</h2>
        <div class="projects-slider ">
        <ul class="projects-list ">
            <li class="projects-item ">
                <div class="projects-description">
                    <div class="projects-technologies">
                        <ul class="technologies-list">
                            <li class="technologies-list-item">#react</li>
                            <li class="technologies-list-item">#js</li>
                            <li class="technologies-list-item">#node js</li>
                            <li class="technologies-list-item">#git</li>
                        </ul>
                    </div>
                    <h3 class="description-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <a data-theme-btn href="https://github.com/Alexhellupov-cyber/goit_portfolio" target="_blank" rel="noopener noreferrer" class="project-link">
                        See project
                    </a>
                </div>
                <div class="projects-img">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/projects/book-desk@1x.jpg   1x,
                            ./img/projects/book-desk@2x.jpg 2x"/>
                        <source
                              media="(min-width: 768px)"
                              srcset="
                               ./img/projects/book-desk@1.jpg   1x,
                               ./img/projects/book-desk@2x.jpg 2x"/>
                        <source
                          media="(min-width: 320px)"
                          srcset="
                            ./img/projects/book-mob@1.jpg   1x,
                            ./img/projects/book-mob@2x.jpg 2x"/>
                        <img class="projects-img1"
                        src="./img/projects/book-desk@1.jpg"
                         alt="Read journey website"/>
                        </picture>
                </div>
            </li>
            <li class="projects-item ">
                <div class="projects-description">
                    <div class="projects-technologies">
                        <ul class="technologies-list">
                            <li class="technologies-list-item">#react</li>
                            <li class="technologies-list-item">#js</li>
                            <li class="technologies-list-item">#node js</li>
                            <li class="technologies-list-item">#git</li>
                        </ul>
                    </div>
                    <h3 class="description-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <a href="https://github.com/Alexhellupov-cyber/goit_portfolio" target="_blank" rel="noopener noreferrer" class="project-link">
                        See project
                    </a>
                </div>
                <div class="projects-img">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/projects/pet-desk@1x.jpg   1x,
                            ./img/projects/pet-desk@2x.jpg 2x"/>
                            <source
                              media="(min-width: 768px)"
                              srcset="
                               ./img/projects/pet-desk@1.jpg   1x,
                               ./img/projects/pet-desk@2x.jpg 2x"/>
                        <source
                          media="(min-width: 320px)"
                          srcset="
                            ./img/projects/pet-mob@1.jpg   1x,
                            ./img/projects/pet-mob@2x.jpg 2x"/>
                        <img class="projects-img1"
                        src="./img/projects/pet-desk@1.jpg"
                         alt="Pet at the doctor website"/>
                        </picture>
                </div>
            </li>
            <li class="projects-item ">
                <div class="projects-description">
                    <div class="projects-technologies">
                        <ul class="technologies-list">
                            <li class="technologies-list-item">#react</li>
                            <li class="technologies-list-item">#js</li>
                            <li class="technologies-list-item">#node js</li>
                            <li class="technologies-list-item">#git</li>
                        </ul>
                    </div>
                    <h3 class="description-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <a href="https://github.com/Alexhellupov-cyber/goit_portfolio" target="_blank" rel="noopener noreferrer" class="project-link">
                        See project
                    </a>
                </div>
                <div class="projects-img">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./img/projects/vocab-desk@1x.jpg   1x,
                            ./img/projects/vocab-desk@2x.jpg 2x"/>
                            <source
                              media="(min-width: 768px)"
                              srcset="
                               ./img/projects/vocab-desk@1.jpg   1x,
                               ./img/projects/vocab-desk@2x.jpg 2x"/>
                        <source
                          media="(min-width: 320px)"
                          srcset="
                            ./img/projects/vocab-mob@1.jpg   1x,
                            ./img/projects/vocab-mob@2x.jpg 2x"/>
                        <img class="projects-img1"
                        src="./img/projects/vocab-desk@1.jpg"
                         alt="Vocab builder website"/>
                        </picture>
                </div>
            </li>
        </ul>
        <div class="controls-slider">
            <button class="swiper-button-prev" style="display:none"></button>
            <button class="swiper-button-next" style="display:none"></button>
        </div>
       </div> 
       <div class="projects-btn-container">
          <button class="projects-btn"><svg class="btn-right-projects">
            <use href="/img/sprite.svg#arrow-black"></use>
        </svg></button>
        <button class="projects-btn"><svg class="btn-right-projects">
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
          </svg></button>
    </div>
       <!--<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
    </div>--> 
  </div>  
</section>