.about-me {
  padding-top: 64px;
  padding-bottom: 32px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-box .ac {
  margin-top: 0px;
}

.about-box .acor-txt {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa;
}
.all-txt.first-margin .acor-txt:first-child {
  margin-bottom: 32px;
}
.all-txt .acor-txt {
  margin-bottom: 10px;
}

.about-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.about-subtitle-content {
  padding: 32px;
  height: 500px;
  width: 100%;
  background-color: #242527;
  border-radius: 24px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.about-subtitle-text {
  width: 100%;
  font-size: 24px;
  line-height: 1.17;
  text-align: left;
  color: #fafafa;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.subtitle-func {
  color: #2b4441;
}

.subtitle-web-grey {
  color: #fafafa66;
}


.about-me-photo {
  max-width: 100%;
  text-align: center;
}

.about-me-avatar {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
}


.accordion-info-about-me-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 32px;
}

ul.accordion-info-about-me-list .about-me-item-container.ac {
  border: none;
  border-bottom: 1px solid #fafafa33;
  padding-bottom: 20px;
  position: relative;
  background-color: transparent;
  padding-top: 32px;
}

.ac-header.acc-caption .ac-trigger {
  text-align: left;
  margin-bottom: 24px;
  padding: 0;
  font-family: inherit;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

.ac-text p {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #fafafa;
  padding: 0;
}
.acor-txt-one {
  max-width: 360px;
}
.acor-txt-two {
  max-width: 450px;
}
li.about-me-item-container.ac .ac-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-item-container:first-child div.about-me-text.ac-panel {
  gap: 32px;
}

ul.accordion-info-about-me-list
  li.ac
  .ac-trigger.accordion-button-up-down::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 18px;
  width: 34px;
  height: 34px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  transform: translate(50%, -50%);
  transition: box-shadow 300ms ease;
}

ul.accordion-info-about-me-list
  li.ac
  .ac-trigger.accordion-button-up-down:hover::after {
  border-color: #fafafa;
  box-shadow: 0 0 15px #2b4441;
}

.about-me-arrow-icon {
  position: absolute;
  top: 7px;
  right: 8px;
  transition: transform 0.3s ease-in-out;
}

ul.accordion-info-about-me-list li.ac.is-active .about-me-arrow-icon {
  transform: rotate(-180deg);
}

@media only screen and (min-width: 768px) {
  .about-me {
    padding-top: 64px;
  }
  .about-subtitle {
    margin-bottom: 64px;
  }
  .all-txt.first-margin .acor-txt:first-child {
    margin-bottom: 16px;
  }
  .about-subtitle-text {
    font-size: 38px;
    line-height: 40px;
    letter-spacing: -0.04em;
  }
  .about-subtitle-content {
    padding: 64px;
    height: 700px;
  }

  .about-subtitle {
    width: 704px;
  }
  .accordion-info-about-me-list {
    width: 704px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me {
    padding-top: 96px;
  }
  .about-subtitle {
    flex-direction: row;
    width: 1376px;
    gap: 16px;
    margin-bottom: 96px;
  }
  .accordion-info-about-me-list {
    width: 1376px;
  }
  .about-subtitle-content {
    margin: 0;
    max-width: 680px;
  }
  .about-subtitle-text {
    letter-spacing: -0.06em;
  }
  .ac-panel.triple.about-me-text {
    display: flex;
    justify-content: space-between;
  }
  li.about-me-item-container.ac .ac-panel {
    flex-direction: row;
  }
  .all-txt,
  .ac-panel.about-me-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .acor-txt {
    width: 612px;
    text-align: right;
  }
  .all-txt.first-margin .acor-txt:first-child {
    margin-bottom: 32px;
  }
}
