/* Button change theme */

.theme-buttons {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 10px;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
        box-shadow: -40px 0 80px rgba(0, 0, 0, 0.7), -20px 0 40px rgba(0, 0, 0, 0.5);
        filter: blur(10px); */
}

.theme-buttons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    box-shadow: -50px 0 100px rgba(0, 0, 0, 0.8), -30px 0 60px rgba(0, 0, 0, 0.5);
    filter: blur(15px);
    /* Розмиття тільки на фон */
    border-radius: 15px;
    z-index: -1;
    /* Розташування під кнопками */
}

.theme-buttons button {
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transition: scale 0.5s ease-in-out;
}

.theme-buttons button:hover,
.theme-buttons button:focus {
    scale: 1.2;
}

@media screen and (min-width: 768px) {
    .theme-buttons {
        bottom: 14px;
        left: 32px;
        transform: translate(0);
    }

    .theme-buttons button {
        width: 30px;
        height: 30px;
    }
}

.btn-theme-red {
    background-color: rgb(237, 59, 68);
}

.btn-theme-green {
    background-color: #C6E327;
}

.btn-theme-blue {
    background-color: #0041E8;
}

.btn-theme-orange {
    background-color: #E6533C;
}

.btn-theme-dark-green {
    background-color: #2B4441;
}

.btn-theme-yellow {
    background-color: #FF7F08;
}

.active-btn-change {
    scale: 1.2;
    transition: scale 0.5s ease-in-out;
}



/* Burger menu background */

.theme-red[data-theme-burg-menu] {
    background-image: url('../img/hero/burg-menu_red.jpg');
}

.theme-green[data-theme-burg-menu] {
    background-image: url('../img/hero/burg-menu-green.jpg');
}

.theme-blue[data-theme-burg-menu] {
    background-image: url('../img/hero/burg-menu-blue.jpg');
}

.theme-orange[data-theme-burg-menu] {
    background-image: url('../img/hero/burg-menu-orange.jpg');
}

.theme-dark-green[data-theme-burg-menu] {
    background-image: url('../img/hero/burg-menu-dark-green.jpg');
}

.theme-yellow[data-theme-burg-menu] {
    background-image: url('../img/hero/burg-menu-yellow.jpg');
}

@media (min-resolution: 2dppx) {
    .theme-red[data-theme-burg-menu] {
        background-image: url('../img/hero/burg-menu_red_2x.jpg');
        background-size: cover;
    }

    .theme-green[data-theme-burg-menu] {
        background-image: url('../img/hero/burg-menu-green-2x.jpg');
    }

    .theme-blue[data-theme-burg-menu] {
        background-image: url('../img/hero/burg-menu-blue-2x.jpg');
    }

    .theme-orange[data-theme-burg-menu] {
        background-image: url('../img/hero/burg-menu-orange-2x.jpg');
    }

    .theme-dark-green[data-theme-burg-menu] {
        background-image: url('../img/hero/burg-menu-dark-green-2x.jpg');
    }

    .theme-yellow[data-theme-burg-menu] {
        background-image: url('../img/hero/burg-menu-yellow-2x.jpg');
    }
}

/* animation background */
[data-theme-hero] {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    transition: background-image 0.5s ease-in-out;
}

/* background */
.theme-red[data-theme-hero] {
    background-image: url('../img/hero/hero_red_mob.jpg');
}

.theme-green[data-theme-hero] {
    background-image: url('../img/hero/hero_green_mob.jpg');
}

.theme-blue[data-theme-hero] {
    background-image: url('../img/hero/hero_blue_mob.jpg');
}

.theme-orange[data-theme-hero] {
    background-image: url('../img/hero/hero_orange_mob.jpg');
}

.theme-dark-green[data-theme-hero] {
    background-image: url('../img/hero/hero_dark_green_mob.jpg');
}

.theme-yellow[data-theme-hero] {
    background-image: url('../img/hero/hero_yellow_mob.jpg');
}

@media (min-resolution: 2dppx) {
    .theme-red[data-theme-hero] {
        background-image: url('../img/hero/hero_red_mob_2x.jpg');
    }

    .theme-green[data-theme-hero] {
        background-image: url('../img/hero/hero_green_mob_2x.jpg');
    }

    .theme-blue[data-theme-hero] {
        background-image: url('../img/hero/hero_blue_mob_2x.jpg');
    }

    .theme-orange[data-theme-hero] {
        background-image: url('../img/hero/hero_orange_mob_2x.jpg');
    }

    .theme-dark-green[data-theme-hero] {
        background-image: url('../img/hero/hero_dark_green_mob_2x.jpg');
    }

    .theme-yellow[data-theme-hero] {
        background-image: url('../img/hero/hero_yellow_mob_2x.jpg');
    }
}

@media only screen and (min-width: 768px) {
    .theme-red[data-theme-hero] {
        background-image: url('../img/hero/hero_red_tab.jpg');
    }

    .theme-green[data-theme-hero] {
        background-image: url('../img/hero/hero_green_tab.jpg');
    }

    .theme-blue[data-theme-hero] {
        background-image: url('../img/hero/hero_blue_tab.jpg');
    }

    .theme-orange[data-theme-hero] {
        background-image: url('../img/hero/hero_orange_tab.jpg');
    }

    .theme-dark-green[data-theme-hero] {
        background-image: url('../img/hero/hero_dark_green_tab.jpg');
    }

    .theme-yellow[data-theme-hero] {
        background-image: url('../img/hero/hero_yellow_tab.jpg');
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .theme-red[data-theme-hero] {
        background-image: url('../img/hero/hero_red_tab_2x.jpg');
    }

    .theme-green[data-theme-hero] {
        background-image: url('../img/hero/hero_green_tab_2x.jpg');
    }

    .theme-blue[data-theme-hero] {
        background-image: url('../img/hero/hero_blue_tab_2x.jpg');
    }

    .theme-orange[data-theme-hero] {
        background-image: url('../img/hero/hero_orange_tab_2x.jpg');
    }

    .theme-dark-green[data-theme-hero] {
        background-image: url('../img/hero/hero_dark_green_tab_2x.jpg');
    }

    .theme-yellow[data-theme-hero] {
        background-image: url('../img/hero/hero_yellow_tab_2x.jpg');
    }
}

@media only screen and (min-width: 1440px) {
    .theme-red[data-theme-hero] {
        background-image: url('../img/hero/hero_red.jpg');
    }

    .theme-green[data-theme-hero] {
        background-image: url('../img/hero/hero_green.jpg');
    }

    .theme-blue[data-theme-hero] {
        background-image: url('../img/hero/hero_blue.jpg');
    }

    .theme-orange[data-theme-hero] {
        background-image: url('../img/hero/hero_orange.jpg');
    }

    .theme-dark-green[data-theme-hero] {
        background-image: url('../img/hero/hero_dark_green.jpg');
    }

    .theme-yellow[data-theme-hero] {
        background-image: url('../img/hero/hero_yellow.jpg');
    }
}

@media only screen and (min-width: 1440px) and (min-resolution: 2dppx) {
    .theme-red[data-theme-hero] {
        background-image: url('../img/hero/hero_red_2x.jpg');
    }

    .theme-green[data-theme-hero] {
        background-image: url('../img/hero/hero_green_2x.jpg');
    }

    .theme-blue[data-theme-hero] {
        background-image: url('../img/hero/hero_blue_2x.jpg');
    }

    .theme-orange[data-theme-hero] {
        background-image: url('../img/hero/hero_orange_2x.jpg');
    }

    .theme-dark-green[data-theme-hero] {
        background-image: url('../img/hero/hero_dark_green_2x.jpg');
    }

    .theme-yellow[data-theme-hero] {
        background-image: url('../img/hero/hero_yellow_2x.jpg');
    }
}

@media only screen and (min-width: 2048px) {
    .theme-red[data-theme-hero] {
        background-image: url('../img/hero/hero_red_3x.jpg');
    }

    .theme-green[data-theme-hero] {
        background-image: url('../img/hero/hero_green_3x.jpg');
    }

    .theme-blue[data-theme-hero] {
        background-image: url('../img/hero/hero_blue_3x.jpg');
    }

    .theme-orange[data-theme-hero] {
        background-image: url('../img/hero/hero_orange_3x.jpg');
    }

    .theme-dark-green[data-theme-hero] {
        background-image: url('../img/hero/hero_dark_green_3x.jpg');
    }

    .theme-yellow[data-theme-hero] {
        background-image: url('../img/hero/hero_yellow_3x.jpg');
    }
}

/* Change color btn */
.theme-red[data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: rgb(237, 59, 68);
}

.theme-red:hover[data-theme-btn] {
    background-color: rgb(224, 55, 63);
    transform: scale(1.05);
}

.theme-red:focus[data-theme-btn] {
    background-color: rgb(224, 55, 63);
}

.theme-green[data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: #C6E327;
}

.theme-green:hover[data-theme-btn] {
    background-color: #596808;
    transform: scale(1.05);
}

.theme-green:focus[data-theme-btn] {
    background-color: #596808;
}

.theme-blue[data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: #0041E8;
}

.theme-blue:hover[data-theme-btn] {
    background-color: #001958;
    transform: scale(1.05);
}

.theme-blue:focus[data-theme-btn] {
    background-color: #001958;
}

.theme-orange[data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: #E6533C;
}

.theme-orange:hover[data-theme-btn] {
    background-color: #9F3626;
    transform: scale(1.05);
}

.theme-orange:focus[data-theme-btn] {
    background-color: #9F3626;
}

.theme-dark-green[data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: #2B4441;
}

.theme-dark-green:hover[data-theme-btn] {
    background-color: #1E3633;
    transform: scale(1.05);
}

.theme-dark-green:focus[data-theme-btn] {
    background-color: #1E3633;
    ;
}

.theme-yellow[data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: #FF7F08;
}

.theme-yellow:hover[data-theme-btn] {
    background-color: #AC5300;
    transform: scale(1.05);
}

.theme-yellow:focus[data-theme-btn] {
    background-color: #AC5300;
}

/* Change color text */

.theme-red:hover[data-theme-text] {
    color: rgb(237, 59, 68);
}

.theme-red:focus[data-theme-text] {
    color: rgb(237, 59, 68);
}

.theme-red:active[data-theme-text] {
    color: rgb(237, 59, 68);
}

.theme-green:hover[data-theme-text] {
    color: #C6E327;
}

.theme-green:focus[data-theme-text] {
    color: #C6E327;
}

.theme-green:active[data-theme-text] {
    color: #C6E327;
}

.theme-blue:hover[data-theme-text] {
    color: #0041E8;
}

.theme-blue:focus[data-theme-text] {
    color: #0041E8;
}

.theme-blue:active[data-theme-text] {
    color: #0041E8;
}

.theme-orange:hover[data-theme-text] {
    color: #E6533C;
}

.theme-orange:focus[data-theme-text] {
    color: #E6533C;
}

.theme-orange:active[data-theme-text] {
    color: #E6533C;
}

.theme-dark-green:hover[data-theme-text] {
    color: #2B4441;
}

.theme-dark-green:focus[data-theme-text] {
    color: #2B4441;
}

.theme-dark-green:active[data-theme-text] {
    color: #2B4441;
}

.theme-yellow:hover[data-theme-text] {
    color: #FF7F08;
}

.theme-yellow:focus[data-theme-text] {
    color: #FF7F08;
}

.theme-yellow:active[data-theme-text] {
    color: #FF7F08;
}

/* Change color text SPAN */

.theme-red[data-theme-text-span] {
    color: rgb(237, 59, 68);
    transition: color 0.5s ease-in-out;
}

.theme-green[data-theme-text-span] {
    color: #C6E327;
    transition: color 0.5s ease-in-out;
}

.theme-blue[data-theme-text-span] {
    color: #0041E8;
    transition: color 0.5s ease-in-out;
}

.theme-orange[data-theme-text-span] {
    color: #E6533C;
    transition: color 0.5s ease-in-out;
}

.theme-dark-green[data-theme-text-span] {
    color: #2B4441;
    transition: color 0.5s ease-in-out;
}

.theme-yellow[data-theme-text-span] {
    color: #FF7F08;
    transition: color 0.5s ease-in-out;
}

/* Change color SVG */

.theme-red[data-theme-text-svg] {
    background: rgb(237, 59, 68);
    transition: color 0.5s ease-in-out;
}

.theme-green[data-theme-text-svg] {
    background: #C6E327;
    transition: color 0.5s ease-in-out;
}

.theme-blue[data-theme-text-svg] {
    background: #0041E8;
    transition: color 0.5s ease-in-out;
}

.theme-orange[data-theme-text-svg] {
    background: #E6533C;
    transition: color 0.5s ease-in-out;
}

.theme-dark-green[data-theme-text-svg] {
    background: #2B4441;
    transition: color 0.5s ease-in-out;
}

.theme-yellow[data-theme-text-svg] {
    background: #FF7F08;
    transition: color 0.5s ease-in-out;
}

/* Change color Swiper-active */

.swiper-slide-active.theme-red[data-theme-swiper-active] {
    background-color: rgb(237, 59, 68);
    transition: background-color 0.5s ease-in-out;
}

.swiper-slide-active.theme-green[data-theme-swiper-active] {
    background-color: #C6E327;
    transition: background-color 0.5s ease-in-out;
}

.swiper-slide-active.theme-blue[data-theme-swiper-active] {
    background-color: #0041E8;
    transition: background-color 0.5s ease-in-out;
}

.swiper-slide-active.theme-orange[data-theme-swiper-active] {
    background-color: #E6533C;
    transition: background-color 0.5s ease-in-out;
}

.swiper-slide-active.theme-dark-green[data-theme-swiper-active] {
    background-color: #2B4441;
    transition: background-color 0.5s ease-in-out;
}

.swiper-slide-active.theme-yellow[data-theme-swiper-active] {
    background-color: #FF7F08;
    transition: background-color 0.5s ease-in-out;
}

/* Change color border Up Btn */

.theme-red[data-theme-btn-up] {
    border-color: rgb(237, 59, 68);
    transition: border-color 0.5s ease-in-out;
}

.theme-green[data-theme-btn-up] {
    border-color: #C6E327;
    transition: border-color 0.5s ease-in-out;
}

.theme-blue[data-theme-btn-up] {
    border-color: #0041E8;
    transition: border-color 0.5s ease-in-out;
}

.theme-orange[data-theme-btn-up] {
    border-color: #E6533C;
    transition: border-color 0.5s ease-in-out;
}

.theme-dark-green[data-theme-btn-up] {
    border-color: #2B4441;
    transition: border-color 0.5s ease-in-out;
}

.theme-yellow[data-theme-btn-up] {
    border-color: #FF7F08;
    transition: border-color 0.5s ease-in-out;
}