.faq-section {
  margin: 0 auto;
  padding: 32px 0 64px 0;
}

.container.faq-container {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.faq-title {
  margin: 0;
  padding: 0;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
}

ul.accordion-container li.ac.faq-item-container {
  margin: 0;
  padding: 20px 0;
  background-color: transparent;
  color: #fafafa;
  border: none;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

ul.accordion-container li.ac button.ac-trigger.faq-button {
  margin: 0;
  padding: 0;
  padding-right: 78px;
  color: #fafafa;
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
}

ul.accordion-container li.ac button.ac-trigger.faq-button:focus {
  color: #fafafa;
}

ul.accordion-container li.ac .ac-trigger.faq-button::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 16px;
  width: 34px;
  height: 34px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  transform: translate(50%, -50%);
  transition: box-shadow 300ms ease;
}
ul.accordion-container li.ac .ac-trigger.faq-button:hover::after {
  border-color: #fafafa;
  box-shadow: 0 0 15px #2b4441;
}
.faq-arrow-icon {
  position: absolute;
  top: 11px;
  right: 6px;
  transition: transform 0.3s ease-in-out;
}

ul.accordion-container
  li.ac.is-active
  > .ac-header
  .ac-trigger.faq-button::after {
  content: '';
}

ul.accordion-container li.ac.is-active .faq-arrow-icon {
  transform: rotate(-180deg);
}

ul.accordion-container li.ac .ac-panel p.ac-text.faq-text {
  margin-top: 16px;
  padding: 0;
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}

@media only screen and (min-width: 768px) {
  .faq-section.section {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .container.faq-container {
    padding: 48px 32px;
  }

  ul.accordion-container li.ac.faq-item-container {
    padding: 32px 0 42px 0;
  }

  ul.accordion-container li.ac.faq-item-container.is-active {
    padding: 32px 0 26px 0;
  }

  ul.accordion-container li.ac button.ac-trigger.faq-button {
    padding-right: 130px;
  }

  ul.accordion-container li.ac .ac-panel p.ac-text.faq-text {
    max-width: 656px;
    margin-top: 26px;
  }

  ul.accordion-container li.ac .ac-trigger.faq-button::after {
    width: 40px;
    height: 40px;
  }

  .faq-arrow-icon {
    top: 11px;
    right: 6px;
  }
}

@media screen and (min-width: 1440px) {
  .faq-section.section {
    padding-bottom: 82px;
  }

  .container.faq-container {
    padding: 82px 32px;
  }

  ul.accordion-container {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  ul.accordion-container li.ac.faq-item-container {
    max-width: calc(50%);
    flex: 1 1 calc(50%);
  }

  ul.accordion-container li.ac .ac-panel p.ac-text.faq-text {
    padding-right: 32px;
  }

  ul.accordion-container li.ac button.ac-trigger.faq-button {
    padding-right: 82px;
  }

  ul.accordion-container li.ac:nth-child(-n + 3) svg {
    right: 42px;
  }

  ul.accordion-container li.ac:nth-child(-n + 3) .ac-trigger.faq-button::after {
    right: 52px;
  }

  ul.accordion-container li:nth-child(1) {
    order: 1;
  }
  ul.accordion-container li:nth-child(1).ac.faq-item-container {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  ul.accordion-container li:nth-child(2) {
    order: 3;
  }
  ul.accordion-container li:nth-child(2).ac.faq-item-container {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  ul.accordion-container li:nth-child(3) {
    order: 5;
  }
  ul.accordion-container li:nth-child(3).ac.faq-item-container {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  ul.accordion-container li:nth-child(4) {
    order: 2;
  }
  ul.accordion-container li:nth-child(4).ac.faq-item-container {
    padding-left: 32px;
  }

  ul.accordion-container li:nth-child(5) {
    order: 4;
  }
  ul.accordion-container li:nth-child(5).ac.faq-item-container {
    padding-left: 32px;
  }

  ul.accordion-container li:nth-child(6) {
    order: 6;
  }
  ul.accordion-container li:nth-child(6).ac.faq-item-container {
    padding-left: 32px;
  }
}
  