.faq-container {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #1C1D20;
  margin-bottom: 100px;
}

.title-faq {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.faq-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  }

.faq-list li {
  flex: 1 1 50%;
  box-sizing: border-box;
  margin: 0;
 
}
.faq-list li:nth-last-child(2n) {
  border-right: none;
}

.faq-list li:nth-last-child(-n+2) {
  border-bottom: none;
}

.faq-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  padding: 24px;
   background-color: #1c1d20 !important;

}

.faq-item:first-child, .faq-item:last-child {
  background-color: #1c1d20;
}

/*borders*/
.faq-item:nth-child(1) {
  border-top: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-right: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-left: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-bottom: 0px solid rgba(250, 250, 250, 0.2) !important;
}

.faq-item:nth-child(2) {
  border-top: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-left: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-right: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-bottom: 0px solid rgba(250, 250, 250, 0.2) !important;
}

.faq-item:nth-child(3) {
  border-top: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-right: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-left: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-bottom: 0px solid rgba(250, 250, 250, 0.2) !important;
}

.faq-item:nth-child(4) {
  border-top: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-left: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-right: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-bottom: 0px solid rgba(250, 250, 250, 0.2) !important;

}

.faq-item:nth-child(5) {
  border-top: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-left: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-right: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2) !important;

}

.faq-item:nth-child(6) {
  border-top: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-left: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-right: 0px solid rgba(250, 250, 250, 0.2) !important;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2) !important;
}
/*borders*/


.question {
  display: flex;
  justify-content:flex-start;
  align-items:flex-end;
  cursor: pointer;
}

.title-item-list {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  width: 265px;
  color: #fafafa;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.text-item-list {
  box-sizing: content-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
  padding-top: 16px;
}



.ac-trigger.btn-answer.accordion-button.btn-roll:hover, .ac-trigger.btn-answer.accordion-button.btn-roll:active {
  border: 1px solid #ed3b44;
  background-color: #ed3b44;

}
.ac-trigger.btn-answer.accordion-button.btn-roll {
  background: none;
    border: 1px solid rgba(250, 250, 250, 0.2);
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1c1d20;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active  .ac-trigger.btn-answer.accordion-button.btn-roll{
  transform: rotate(180deg);
}

@media (max-width: 1440px) {
  .faq-list {
    justify-content: center;
  }
  .faq-list li {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .faq-list {
    flex-direction: column;
    align-items: center;
  }
  .faq-list li {
    flex: 1 1 100%;
    max-width: 700px;
  }
}

@media (max-width: 375px) {
  .faq-list li {
    max-width: 360px;
  }
}


.ac-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.ac-trigger::before,
.ac-trigger::after {
  content: none !important;
}
.ac.is-active .ac-panel {
  max-height: 500px;
}

  .is-active .title-item-list,
  .title-item-list:hover,
  .title-item-list:active,
  .icon-answer:active,
  .btn-answer:hover .icon-answer {
    color: #ed3b44;
    stroke: #1c1d20;
  }
  