@font-face {
    font-family: 'Inter Tight';
    src: url('../fonts/InterTight-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('../fonts/InterTight-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Mobile */
.container-head {
    min-width: 320px;
    max-width: 375px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .container-head {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
    .container-head {
        max-width: 1440px;
    }
}

.header-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 32px;
}

@media only screen and (max-width: 375px) {
    .header-container {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-top: 32px;
    }
}

.header-img-box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    min-width: 172px;
    animation-duration: 1s;
    animation-name: slidein;
}

.header-image {
    max-width: 80px;
    height: auto;
    border-radius: 18px;
}

.name-icon {
    width: 84px;
    height: 19px;
    position: absolute;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-img-box:hover .name-icon {
    scale: 1.15;
}

.header-img-box:focus .name-icon {
    scale: 1.15;
}

.menu-box {
    display: none;
}

@media only screen and (min-width: 768px) {
    .menu-box {
        display: flex;
        flex-direction: column;
        animation-duration: 1s;
        animation-name: slidein;
    }
}

.menu-link {
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.02em;
    text-decoration: underline;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    padding: 0;
}

.drop-down {
    margin-top: 8px;
    overflow: hidden;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    animation-duration: 1s;
    animation-name: slidein;
}

.list-item-link {
    color: rgb(250, 250, 250);
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn {
    display: none;
}

@media only screen and (min-width: 768px) {
    .order-btn {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 174px;
        height: 56px;
        padding: 18px 24px 18px 24px;
        border-radius: 60px;
        color: rgb(250, 250, 250);
        background-color: rgb(237, 59, 68);
        margin-left: auto;
        font-family: 'Inter Tight', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.19;
        letter-spacing: -0.02em;
        animation-duration: 1s;
        animation-name: slidein;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .order-btn:hover {
        background-color: rgb(224, 55, 63);
        transform: scale(1.05);
    }

    .order-btn:focus {
        background-color: rgb(224, 55, 63);
    }
}

.burger-btn-box {
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .burger-btn-box {
        display: none;
    }
}

.burger-btn {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    animation-duration: 1s;
    animation-name: slidein;
}

.burger-backdrop {
    position: relative;
    overflow: hidden;
}

.burger-menu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    transform: translateX(100%);
    opacity: 0;

    background-repeat: no-repeat;
    background-size: cover;
}

.burger-menu.is-open {
    transform: translateX(0);
    opacity: 1;
}

.close-btn {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    top: 39px;
    right: 23px;
    width: 28px;
    height: 28px;
    background-color: transparent;
}

.close-icon {
    fill: #fff;
}

.burger-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.burger-list-item-link {
    color: rgb(250, 250, 250);
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.02em;
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-order-btn-box {
    margin-bottom: 64px;

}

.burger-order-btn {
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.02em;
    display: flex;
    justify-content: center;
    width: 174px;
    height: 56px;
    padding: 18px 24px 18px 24px;
    border-radius: 60px;
    color: rgb(250, 250, 250);
    background-color: rgb(237, 59, 68);
    margin-left: auto;
    animation-duration: 1s;
    animation-name: slidein;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .burger-order-btn:hover {
    background: rgb(224, 55, 63);
}

.burger-order-btn:focus {
    background: rgb(224, 55, 63);
}

.burger-order-btn:active {
    background: rgb(224, 55, 63);
} */

@keyframes slidein {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}