.hero-wrapper {
  padding-block: 32px;
}

.hero-title {
  text-align: start;
  margin: 246px auto 227px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    text-align: start;
    margin: 188px auto 187px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    text-align: start;
    margin: 268px auto 243px;
    width: 1140px;
  }
}

/* Mobile/H1 */
.header-1 {
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

/* Desktop_Tablet/H1 */
@media only screen and (min-width: 768px) {
  .header-1 {
    font-size: 90px;
  }
}

.hero-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.hero-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.hero-item {
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: border-color var(--timing-function);
}

.hero-item:hover,
.hero-item:focus,
.hero-item:active {
  border-color: #fafafa;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 28px;
  min-height: 28px;
}

@media only screen and (min-width: 375px) {
  .social-link {
    min-width: 34px;
    min-height: 34px;
  }
}

@media only screen and (min-width: 768px) {
  .social-link {
    min-width: 55px;
    min-height: 55px;
  }
}

.heder-contact-info {
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: border-color var(--timing-function);
}

.heder-contact-info:hover,
.heder-contact-info:focus,
.heder-contact-info:active {
  border-color: #fafafa;
}

.heder-contact-info-link {
  display: flex;
  min-width: 168px;
  min-height: 28px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 375px) {
  .heder-contact-info-link {
    min-width: 178px;
    min-height: 34px;
  }
}

@media only screen and (min-width: 768px) {
  .heder-contact-info-link {
    min-width: 223px;
    min-height: 55px;
  }
}

.small-text {
  font-size: 12px;
}

@media only screen and (min-width: 375px) {
  .small-text {
    font-size: 14px;
  }
}

/* Mobile */
.container-hero {
  position: relative;
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container-hero {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container-hero {
    max-width: 1440px;
  }
}
