@font-face {
    font-family: 'Inter Tight';
    src: url('../fonts/InterTight-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('../fonts/InterTight-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* .hero {
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: overlay;
    background-position: center;
    transition: background 0.5s ease-in-out;
    background-image: url('../img/hero/hero_red_mob.jpg');
} */

/* @media (min-resolution: 2dppx) {
    .hero {
        background-image: url('../img/hero/hero_red_mob_2x.jpg');
    }
} */

/* @media only screen and (min-width: 768px) {
    .hero {
        background-image: url('../img/hero/hero_red_tab.jpg');
    }
} */

/* @media only screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image: url('../img/hero/hero_red_tab_2x.jpg');
    }
} */

/* @media only screen and (min-width: 1440px) {
    .hero {
        background-image: url('../img/hero/hero_red.jpg');
    }
} */

/* @media only screen and (min-width: 1440px) and (min-resolution: 2dppx) {
    .hero {
        background-image: url('../img/hero/hero_red_2x.jpg');
    }
} */

/* @media only screen and (min-width: 2048px) {
    .hero {
        background-image: url('../img/hero/hero_red_3x.jpg');
    }
} */

.hero-wrapper {
    padding-block: 32px;
}

.hero-title {
    text-align: start;
    margin: 246px auto 227px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        text-align: start;
        margin: 188px auto 187px;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-title {
        text-align: start;
        margin: 268px auto 243px;
        width: 1140px;
    }
}

/* Mobile/H1 */
.header-1 {
    font-family: "Inter Tight", sans-serif;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -.03em;
    text-transform: uppercase;
}

/* Desktop_Tablet/H1 */
@media only screen and (min-width: 768px) {
    .header-1 {
        font-size: 90px;
    }
}

.hero-info {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
}

.hero-list {
    font-family: Inter Tight, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.hero-item {
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-item:hover,
.hero-item:focus,
.hero-item:active {
    border-color: #fafafa;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 28px;
    min-height: 28px;
}

@media only screen and (min-width: 375px) {
    .social-link {
        min-width: 34px;
        min-height: 34px;
    }
}

@media only screen and (min-width: 768px) {
    .social-link {
        min-width: 55px;
        min-height: 55px;
    }
}

.heder-contact-info {
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-contact-info:hover,
.heder-contact-info:focus,
.heder-contact-info:active {
    border-color: #fafafa;
}

.heder-contact-info-link {
    font-family: Inter Tight, sans-serif;
    display: flex;
    min-width: 168px;
    min-height: 28px;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 375px) {
    .heder-contact-info-link {
        min-width: 178px;
        min-height: 34px;
    }
}

@media only screen and (min-width: 768px) {
    .heder-contact-info-link {
        min-width: 223px;
        min-height: 55px;
    }
}

.small-text {
    font-size: 12px;
}

@media only screen and (min-width: 375px) {
    .small-text {
        font-size: 14px;
    }
}


/* Mobile */
.container-hero {
    min-width: 320px;
    max-width: 375px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .container-hero {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
    .container-hero {
        max-width: 1440px;
    }
}

/*   Theme Default   */

/* .default-theme #hero {
    background-image: url('../img/hero/hero_red_mob.jpg');
}

.default-theme #special-button {
    color: rgb(250, 250, 250);
    background-color: rgb(237, 59, 68);
}

.default-theme #special-button:hover {
    background-color: rgb(224, 55, 63);
    transform: scale(1.05);
}

.default-theme #special-button:focus {
    background-color: rgb(224, 55, 63);
} */

/* .default-theme #text {
    color: #333;
}

.default-theme .card:hover {
    box-shadow: 0 0 15px #333;
} */

/* .theme-red.hero {
    background-image: url('../img/hero/hero_red_mob.jpg');
}

.theme-green.hero {
    background-image: url('../img/hero/hero_green_mob.jpg');
}

.theme-red [data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: rgb(237, 59, 68);
}

.theme-red:hover [data-theme-btn] {
    background-color: rgb(224, 55, 63);
        transform: scale(1.05);
}

.theme-red:focus [data-theme-btn] {
    background-color: rgb(224, 55, 63);
}

.theme-green [data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: #2B4441;
} */

/* Плавна зміна фону */
/* [data-theme-hero] {
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
} */

/* Фони */
/* .theme-red[data-theme-hero] {
    background-image: url('../img/hero/hero_red_mob.jpg');
}

.theme-green[data-theme-hero] {
    background-image: url('../img/hero/hero_green_mob.jpg');
} */

/* Кнопки відповідної теми */
/* .theme-red[data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: rgb(237, 59, 68);
}

.theme-red:hover[data-theme-btn] {
    background-color: rgb(224, 55, 63);
    transform: scale(1.05);
}

.theme-red:focus[data-theme-btn] {
    background-color: rgb(224, 55, 63);
}

.theme-green[data-theme-btn] {
    color: rgb(250, 250, 250);
    background-color: #2B4441;
}

.theme-green:hover[data-theme-btn] {
    background-color: #1f312e;
    transform: scale(1.05);
}

.theme-green:focus[data-theme-btn] {
    background-color: #1f312e;
}

.theme-red:hover[data-theme-text] {
    color: rgb(237, 59, 68);
}

.theme-red:focus[data-theme-text] {
    color: rgb(237, 59, 68);
}

.theme-red:active[data-theme-text] {
    color: rgb(237, 59, 68);
}

.theme-green:hover[data-theme-text] {
    color: #2B4441;
}

.theme-green:focus[data-theme-text] {
    color: #2B4441;
}

.theme-green:active[data-theme-text] {
    color: #2B4441;
} */